# Directories #
/**/build/
/**//bin/
/**/target/
 
# OS Files #
/**/.DS_Store
/**/.gitignore  
*.class
# Package Files #
/**/*.jar
/**/*.war
/**/*.ear
/**/*.db
      
# Eclipse #
/**/.project
/**/.metadata
/**/.classpath
/**/.settings/
/**/.loadpath
